/* -------  General Styles ------- */

body {
  <<<<<<< HEAD
    font-family: 'Lato', sans-serif;
  =======
    font-family: "Lato", sans-serif;
  >>>>>>> 695a7f606539109a5646781af6e31fbc069d409f
    display: grid;
  }
  
  h2 {
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px 10px 10px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  
  p {
    line-height: 1.5em;
    margin: 0;
  }
  
  section {
    padding: 20px;
  }
  
  section.alternate-background {
    background-color: #00A699;
    color: #fff;
  }
  
  main img {
    width: 100%;
  }
  
  /* ---  Groups & Items --- */
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }
  
  /* -------  Navigation ------- */
  
  header {
    background-color: #FF385C;
    padding: 20px 20px 0 20px;
    text-align: center;
  }
  
  .logo {
    font-family: "Pangolin", cursive;
    font-size: 60px;
    color: #fff;
  }
  
  header nav {
    display: flex;
    flex-direction: row;
    font: sans-serif;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
  }
  
  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }
  
  /* -------  Search Form ------- */
  form {
    border: 2px solid #FF385C;
    padding: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form div {
    display: flex;
    justify-content: space-between;
  }
  
  form select, form input {
    margin-bottom: 20px;
    width: 200px;
  }
  
  form button {
    background-color: #FF385C;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
  }
  
  /* -------  Footer ------- */
  
  footer {
    background-color: #FF385C;
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* -------  Media Query ------- */
  
  @media all and (min-width: 480px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
    
    body {
    font-family: "Lato", sans-serif;
    display: grid;
  }
  
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
  
    header nav ul {
      align-items: center;
    }
  
    .group {
      flex-direction: row;
      align-items: center;
    }
  
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    form div {
      flex-direction: column;
    }
  
    form button {
      flex: 1;
    }
  
    form select, form input {
      margin-bottom: 0px;
    }
  }